<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 75%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

  </head>
  <body ng-app="lost-found">
    <div class="map-Container" ng-controller="mapController as map">
      {{ map.title }}
      <div ng-show="map.mapShow" ng-click="map.toggleMap()">
        Switch to list view
      </div>
      <div ng-show="!map.mapShow" ng-click="map.toggleMap()">
        Switch to map view
      </div>
      <div id="map" ng-show="map.mapShow"></div>
    </div>
		<div>
			<form action="/logfound" method="post">
				<input type="text" name="title">Title</input>
				<input type="text" name="category">Category</input>
				<input type="text" name="pickupname">Pickup Name</input>
				<input type="HIDDEN" name ="lat" id="lat" value="10"></input>
				<input type="HIDDEN" name ="lng" id="lng" value="10"></input>
				<input type="submit"></input>
			</form>
		</div>

    <div id="foundMap" ng-controller="MapController">
      <ui-gmap-google-map ng-if="showMap" center="map.center" zoom="map.zoom" refresh="showMap">
        <ui-gmap-markers models="markers"  coords="'self'" click="onClick">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>{{desc}}</div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
    <!-- // <script src="angular/controllers/mapController.js"></script> -->
    <script src="angular/controllers/foundController.js"></script>

    <script src="angular/app.js"></script>


  </body>
</html>
