<html>
  <head>
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(42.390921, -72.525994),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map"></div>
		<div>
			<form action="/logfound" method="post">
				<input type="text" name="title">Title</input>
				<input type="text" name="category">Category</input>
				<input type="text" name="pickupname">Pickup Name</input>
				<input type="submit"></input>
			</form>
		</div>
  </body>
</html>
