<form action="/logfound" method="post">
  <input type="text" name="title">Title</input>
  <input type="text" name="category">Category</input>
  <input type="text" name="pickupname">Pickup Name</input>
  <input type="submit"></input>
</form>
