<html>
  <head>
    <style>
      #map {
        margin: auto;
        width: 94%;
        height: 75%;
      }
    </style>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/sass/main.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>

  </head>
  <body ng-app="lost-found">

		<div>
			<form action="/logfound" method="post">
				<input type="text" name="title" class="col-xs-8 form-found" placeholder="Title"></input>
        <div class="map-Container" ng-controller="mapController as map">

        <!-- <input type="text" name="title" value="{{ map.currentLatitude }}, {{ map.currentLongitude }}" class="col-xs-8 form-found" placeholder="Location" readonly ng-click="map.toggleMap()"></input> -->
          <!-- {{ map.title }} -->

        	<a href="#found-map"><input type="text" id="found-map" name="coords" value="42.390921, -72.525994" class="col-xs-8 form-found" placeholder="Location" readonly ng-click="map.toggleMap()" maxlength="50"></input></a>
          <!-- {{ map.title }} -->
          <!-- <div ng-show="map.mapShow" ng-click="map.toggleMap()">
            Switch to list view
          </div>
          <div ng-show="!map.mapShow" ng-click="map.toggleMap()">
            Switch to map view
          </div> -->
          <div id="map" ng-show="map.mapShow"></div>
        </div>
			  <select name="category"  class="col-xs-8 form-found" placeholder="Category">
        <option>
          
        </option>
      </select>
			<input type="text" name="pickupDetails"  class="col-xs-8 form-found" placeholder="Pickup Details"></input>
				<input type="HIDDEN" name ="lat" id="lat" value="10"></input>
				<input type="HIDDEN" name ="lng" id="lng" value="10"></input>
				<input type="submit" class="btn submit-found col-xs-12 col-lg-8 col-lg-offset-2"></input>
			</form>
		</div>

    <div id="foundMap" ng-controller="MapController">
      <ui-gmap-google-map ng-if="showMap" center="map.center" zoom="map.zoom" refresh="showMap">
        <ui-gmap-markers models="markers"  coords="'self'" click="onClick">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>{{desc}}</div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
    <!-- // <script src="angular/controllers/mapController.js"></script> -->
    <script src="angular/controllers/foundController.js"></script>

    <script src="angular/app.js"></script>


  </body>
</html>
