<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css"> <!-- load fontawesome -->
</head>
<h1> Login Successful <h1>
  <h1><%= user.facebook.name %></h1>
<div class="span4 select-button">
  <div>
    L
  </div>
  <div>
    o
  </div>
  <div>
    s
  </div>
  <div>
    t
  </div>
  <div style="padding-left: -4%">
    ?
  </div>
</div>
<a href ="/found"><div class="span4 select-button">
  <div>
    F
  </div>
  <div>
    o
  </div>
  <div>
    u
  </div>
  <div>
    n
  </div>
  <div>
    d
  </div></a>
</div>
