<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<h1> Login Successful <h1>
  <h1><%= user.facebook.name %></h1>
<a href ="/found">Found Item</a>
<div class="span4 select-button">
<a href ="/lost">Lost Item</a>
<div class="span4 select-button">

</div>
