<head>
    <title>Retrievr</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/sass/main.css">
</head>
<body>
  <div class="header col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h1 style="display: inline-block">Retrievr</h1>
  <p class="names">Jacob Geryk Karl Schmeckpeper Nathan Greenberg</p>
  </div>

  <div class="row">
    <a href ="/lost">
    <div class="col-xs-6 select-button">
      <div class="profile-button-container well">
        Lost
      </div>
    </div>
    </a>
    <a href ="/found">
      <div class="col-xs-6 select-button lost">
        <div class="profile-button-container well">
          Found
        </div>
      </div>
    </a>
  </div>
</body>
