<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/stylesheets/sass/main.css">
</head>
<body>
  <div class="header">
  <h1>Lost and Found</h1>
  </div>

  <div class="row">
    <a href ="/lost">
    <div class="col-xs-6 select-button">
      Lost
    </div>
    </a>
    <a href ="/found"><div class="col-xs-6 select-button lost">
      Found
      </div>
    </a>
  </div>
</body>
