<html>
  <header>
    <title>Retrievr</title>    
  </header>
  <body ng-app="lost-found"> 
		<div>
			<h1>Thank you for reporting the item</h1>
			<form action="/submittedFound" method="post">
				<input type="submit" value="Continue"></input>
			</form>
		</div>
  </body>
</html>
