@import 'colors';
.header{
  height: 20%;
}
.select-button {
  margin: auto;
  display: inline-block;
  background-color: $brown;
  position: relative;
  // width: 30%;
  height: 80%;
  padding-top: 20%;
  padding-left: 10%;
  font-size: 72px;
} &:hover {
  opacity: 0.7;
}

.lost{
  background-color: $lfGreen;
}

.form-found{
  height: 15%;
  width: 94%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  textarea.standard {
    height:90%;
    width: 80%;
  }
}

.submit-found{
  margin-top: 1%;
  width: 75%;
}
