.header {
  height: 20%; }

.select-button {
  margin: auto;
  display: inline-block;
  background-color: #311900;
  position: relative;
  height: 80%;
  padding-top: 20%;
  padding-left: 10%;
  font-size: 72px; }

:hover {
  opacity: 0.7; }

.lost {
  background-color: #003300; }

.form-found {
  height: 15%;
  width: 94%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%; }
  .form-found textarea.standard {
    height: 90%;
    width: 80%; }
