@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.header {
  height: 10%; }

.names {
  font-size: 20px;
  display: inline-block;
  float: right;
  position: relative;
  margin-top: 2%; }

.select-button {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  top: 0px;
  position: relative;
  border: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 0.1s all ease;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px #B8B8B8;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  height: 80%;
  font-size: 72px; }
  .select-button .profile-button-container {
    height: 100%;
    padding-top: 25%;
    position: relative;
    margin: auto; }
  .select-button:hover {
    opacity: 0.5; }

.form-found {
  font-size: 250%;
  height: 15%;
  width: 95%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%; }
  .form-found textarea.standard {
    height: 90%;
    width: 80%; }

.submit-found {
  margin-top: 3%;
  height: 10%; }

.fb-btn {
  height: 45%; }

.error {
  text-align: center;
  margin: auto;
  color: #ff330e; }
