.h1 {
  padding-left: 40%;
  font-size: 76px;
  color: #009900;
}

.select-button {
  display: inline-block;
  background-color: $sandy;
  position: relative;
  width: 30%;
  height: 80%;
  padding-left: 10%;
  font-size: 72px;
}

.select-button .hover {

}

.angular-google-map-container { height: 400px; }
