.h1 {
  padding-left: 40%;
  font-size: 76px;
  color: #009900;
}
.select-button{
  background-color: #FFFFF0;
  position: relative;
  width: 30%;
  height: 80%;
}
.wtf {
  font-size: 76px;
  color: #009900;
}
